.home {
  display: flex;
}

.home__info {
  position: absolute;
  top: 20%;
  left: 10%;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 21;
}
.home__title {
  font-size: 7rem;
}
.home__typed {
  font-size: 5rem;
  font-family: "cf_samurai_bobregular", sans-serif !important;
  background: transparent;
  border: none;
  width: 100%;
  color: var(--main-color) !important;
}
.home__box img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  z-index: 2;
}
@media (max-width: 991px) {
  .home__title {
    font-size: 5rem;
  }
  .home__typed {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .home__title {
    font-size: 3rem;
  }
  .home__typed {
    font-size: 2rem;
  }
}
