:root {
  --main-color: #d80027;
}

@font-face {
  font-family: "cf_samurai_bobregular";
  src: url("../assets/fonts//cfsamuraibobregular-rmg8-webfont.woff2")
      format("woff2"),
    url("../assets//fonts//cfsamuraibobregular-rmg8-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "cf_samurai_bobregular", sans-serif !important;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* color of the scroll thumb */
}
